<%= form_for(@pokedex) do |f|%>
<%= render 'shared/error_messages', object: f.object%>
<div class="field">
  <%= f.label :name%>
  <%= f.text_field :name, class: 'form-control'%>
  <%= f.label :element_type%>
  <%= f.select :element_type, Pokedex.element_type.options, {}, class: "form-control" %>
  <%= f.label :base_health_point%>
  <%= f.text_field :base_health_point, class: 'form-control'%>
  <%= f.label :base_attack%>
  <%= f.text_field :base_attack, class: 'form-control'%>
  <%= f.label :base_defence%>
  <%= f.text_field :base_defence, class: 'form-control' %>
  <%= f.label :base_speed%>
  <%= f.text_field :base_speed, class: 'form-control' %>
  <%= f.label :image_url%>
  <%= f.text_field :image_url, class: 'form-control'%>
</div>
<%= f.submit "Submit", class: "btn btn-primary", style: "margin-top: 10px;"%>
<%end%>