<% content_for :title, "#{@pokemon.name}" %>

<div class="container">
  <div class="col-md-12" style="margin-top:30px">
    <%= link_to "Edit", edit_pokemon_path, class:"btn btn-primary"%>
    <%= link_to "Delete", @pokemon, method: :delete, data: {confirm: "You sure?"}, class:"btn btn-danger"%>
    <%= link_to "Heal", heal_pokemon_path, method: "patch", class:"btn btn-success"%>

    <h1 style="margin-top: 30px;margin-bottom:30px"><strong><%= @pokemon.name%></strong></h1>
    <h3>Level: <%= @pokemon.level%></h3>
    <h3>Max Health Point: <%= @pokemon.max_health_point%></h3>
    <h3>Current Health Point: <%= @pokemon.current_health_point%></h3>
    <h3>Attack: <%= @pokemon.attack%></h3>
    <h3>Defence: <%= @pokemon.defence%></h3>
    <h3>Speed: <%= @pokemon.speed%></h3>
    <h3>Current Experience: <%= @pokemon.current_experience%></h3>

  </div>


  <table class="table table-hover" style="margin-top:50px">
    <tr>
      <th>Skill Name</th>
      <th>Current PP / Max PP</th>
      <th>Action</th>
    </tr>

    <% @pokemon_skills.each do |pokemon_skill|%>
    <tr>
      <td> <%= pokemon_skill.skill.name%> </td>
      <td> <%= "#{pokemon_skill.current_pp} / #{pokemon_skill.skill.max_pp}"%> </td>
      <td>
        <%= link_to "Remove", pokemon_pokemon_skill_path(pokemon_skill.id), method: :delete, data: {confirm: "You sure?"}, class:"btn btn-danger"%>
      </td>
    </tr>
    <% end %>
  </table>


  <%= form_for(:skill, url: pokemon_pokemon_skills_path(@pokemon.id)) do |f|%>

  <%= f.select :skill_id, options_for_select(Skill.all.collect{ |u| [u.name, u.id] }), {}, class: "form-control" %>
  <%= f.submit "Submit", class: "btn btn-primary", style: "margin-top: 30px;"%>
  <%end%>

</div>