<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= render 'layouts/header'%>
  </header>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <div class="container-fluid" style="margin-top:40px">
    <%= yield %>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <%= render 'layouts/footer'%>
    </footer>
  </div>

 
</body>

</html>